<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autol.demo.UserDao">


    <select id="getUserName" resultType ="com.autol.demo.User">
        select * from user where id = #{id}
    </select>
</mapper>