.DS_Store
.settings
target
.classpath
.project
.vscode/
npm-debug.log
libs

src/main/webapp/static/libs/font-awesome/
src/main/webapp/static/libs/ionicons/
src/main/webapp/docs/
src/main/webapp/page/

src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/spring-config/jdbc.properties

docs/node_modules
*.pdf

adminui/.DS_Store
adminui/node_modules/
adminui/dist/
adminui/npm-debug.log*
adminui/yarn-debug.log*
adminui/yarn-error.log*

/data
/book